header.basic-info {
	padding: 120px 0 60px;
	background: $slate;
	text-align: center;
	color: $white;
	h4 {
		font-weight: normal;
	}
}

section.challenge,
section.solution {
	padding: 60px 0;
	h2 {
		color: $slate;
	}
	.main {
		@include column-count(1);
		@include vendor-prefix(column-gap, 40px);
		@include respond-to(small) {
			@include column-count(2);
		}
		p {
			-webkit-column-break-inside:avoid;
	    -moz-column-break-inside:avoid;
	    -o-column-break-inside:avoid;
	    -ms-column-break-inside:avoid;
	    column-break-inside:avoid;
		  page-break-inside: avoid;
		  break-inside: avoid;
		  display: table;
		}
	}
}

section.csimages-twowide {
	@include flexbox();
	@include flex-flow(column nowrap);
	div {
		display: block;
		@include respond-to(medium) {
			@include flex(1 1 50%);
		}
	}
	@include respond-to(medium) {
		@include flex-flow(row nowrap);
	}
}

section.more-work {
	position: relative;
	padding: 60px 0;
	.more-case-studies {
		// position: relative;
	}
	h2 {
		color: $light-teal;
	}
	ul.case-studies {
		// @include flexbox();
		// @include flex-flow(row wrap);
		// @include vendor-prefix(justify-content, center);
		margin-top: 15px;
		li {
			// @include flex(0 0 320px);
			width: 320px;
			height: 320px;
			list-style: none;
			margin: 0;
			a {
				display: block;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				color: $white;
			}
			&.case-study {
				a {
					.content {
						position: relative;
						width: 100%;
						height: 100%;
						background: image-url('case-study-link-overlay.png') center bottom repeat-x;
						@include animate-object;
						.title {
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 15px;
							h5 {
								display: inline-block;
								vertical-align: middle;
								opacity: 1;
								.client {
									display: block;
									text-transform: normal;
									line-height: 5px;
								}
								.category {
									text-transform: uppercase;
									font-size: 15px;
									font-weight: normal;
									line-height: 0;
								}
							}
							&:before {
								display: inline-block;
								vertical-align: middle;
								float: left;
								margin-right: 5px;
								font-family: $font-icon;
								font-size: 33px;
							}
							&:after {
								display: inline-block;
								vertical-align: middle;
								float: right;
								font-family: $font-icon;
								content: "\e905";
								font-size: 23px;
							}
							&.strategy {
								&:before {
									content: "\e908";
								}
							}
							&.design {
								&:before {
									content: "\e909";
								}
							}
							&.digital {
								&:before {
									content: "\e90a";
								}
							}
							&.environment {
								&:before {
									content: "\e90b";
								}
							}
						}
						.description {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							padding: 15px;
							opacity: 0;
							@include animate-object;
							p {
								@include font-size(17);
								color: $white;
							}
						}
					}
					&:hover {
						.content {
							background-image: none;
							background-color: rgba($med-orange, .8);
							.title {
								h5 {
									opacity: 0;
								}
								&:before {
									font-family: $font-sans;
									font-size: 15px;
									text-transform: uppercase;
									content: "Learn More" !important;
								}
								&:after {
									content: "\e904";
								}
							}	
							.description {
								opacity: 1;
							}
						}
					}
				}
			} // END .CASE-STUDY
		}
	}
	ul.flex-direction-nav {
		li {
			a {
				top: 50% !important;
				bottom: none !important;
				margin-top: 0;
				&.flex-next {
					right: 0;
				}
				&.flex-prev {
					left: 0;
				}
				// @include respond-to(medium) {
				// 	top: none;
				// 	bottom: none;
				// }
			}
		}
	}
}