section.hero {
	position: relative;
	@include full-width;
	height: 100vh;
	background-image: image-url('fpo-homehero.jpg');
	background-size: cover;
	background-position: center center;
	h4 {
		position: absolute;
		top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
		max-width: 680px;
		text-align: center;
		color: $white;
		font-weight: normal;
	}
}