<section class="stream">
	<h2>The Stream</h2>
	<div class="main">
		<ul>
			<li class="facebook">
				<p>Don't forget to get your tickets to the Design in the 21st Century Lecture! All the details are on our latest Field Notes. This will be a great lecture that you don't want to miss! http://bit.ly/1Qqu3uG</p>
				<a href="#">Facebook</a>
			</li>
			<li class="instagram" style="background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)), url('images/fpo-instagram.jpg');">
				<a href="#">Instagram</a>
			</li>
			<li class="twitter">
				<p>Get your tickets now for two great #brand #strategy workshops from @josecaballer on March 18! https://t.co/QikX5lmiAe #SkoolinCincy</p>
				<a href="#">Twitter</a>
			</li>
			<li class="fieldnotes" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="overlay"></div>
				<h6>Field Notes</h6>
				<h6 class="title">RDG Hosts Happy Hour: Design in the 21st Century</h6>
				<p>This month, we’re excited to host along with AIGA Cincinnati, a happy hour to kick off the Design in the 21st Century Lecture.</p>
				<a href="#">Read Article</a>
			</li>
			<li class="fieldnotes" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="overlay"></div>
				<h6>Field Notes</h6>
				<h6 class="title">RDG Hosts Happy Hour: Design in the 21st Century</h6>
				<p>This month, we’re excited to host along with AIGA Cincinnati, a happy hour to kick off the Design in the 21st Century Lecture.</p>
				<a href="#">Read Article</a>
			</li>
			<li class="fieldnotes" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="overlay"></div>
				<h6>Field Notes</h6>
				<h6 class="title">RDG Hosts Happy Hour: Design in the 21st Century</h6>
				<p>This month, we’re excited to host along with AIGA Cincinnati, a happy hour to kick off the Design in the 21st Century Lecture.</p>
				<a href="#">Read Article</a>
			</li>
		</ul>
	</div>
</section>

<section class="creative-nuggets">
	<div class="main">
		<h2>Get creative nuggets delivered to your inbox.</h2>
		<form action="">
			<input type="text" placeholder="Email Address">
			<input type="submit" value="Sign Up Now">
		</form>
	</div>
</section>