<header>
	<nav>
		<a href="/" class="logo">RDG - Ruttle Design Group</a>
		<ul>
			<li><a href="#">What We Do</a></li>
			<li><a href="#">How We Do It</a></li>
			<li><a href="#">Field Notes</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<a href="#" class="hamburger">Menu</a>
	</nav>
</header>