<section class="hero-bloglist">
		<img src="images/making-brands-come-alive.svg" alt="">
</section>

<article class="blog-list">
	<div class="main">
		
		<section class="blog-post">
			<div class="blog-image large-photo">
				<div class="content" style="background-image: url('images/fpo-blogimage.jpg');"></div>
			</div>
			<div class="blog-info">
				<header>
					<span class="author">Emily Hayes</span>
					<time>March 1, 2016</time>
				</header>
				<h4>Finding a Spark: Breaking Out of a Creative Rut</h4>
				<p>Sometimes we find ourselves stuck in our daily routines, and it can be hard to break out of them. It happens to everyone, in every industry, at some point in their careers. You lack inspiration and just feel blah.</p>
				<a href="#" class="read-article">Read This Article</a>
			</div>
		</section>

		<section class="blog-post">
			<div class="blog-image large-photo">
				<div class="content" style="background-image: url('images/fpo-blogimage.jpg');"></div>
			</div>
			<div class="blog-info">
				<header>
					<span class="author">Emily Hayes</span>
					<time>March 1, 2016</time>
				</header>
				<h4>Finding a Spark: Breaking Out of a Creative Rut</h4>
				<p>Sometimes we find ourselves stuck in our daily routines, and it can be hard to break out of them. It happens to everyone, in every industry, at some point in their careers. You lack inspiration and just feel blah.</p>
				<a href="#" class="read-article">Read This Article</a>
			</div>
		</section>

	</div>
</article>