---
title: RDG Blog Post
---

<article class="blog-post">

	<header class="blog-title">
		<div class="main">
			<h1>Recap: Design Lecture and Brand Strategy Workshops</h1>
		</div>
	</header>

	<section class="main-image">
		<img src="images/fpo-blogimage2.jpg" alt="">
	</section>

	<section class="blog-content">
		<div class="main">
			<p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.</p>
			<p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			<p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.</p>
			<img src="images/fpo-blogimage2.jpg" alt="">
			<p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			<p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.</p>
		</div>
	</section>

	<footer class="blog-footer">
		<time>March 1, 2016</time>
		<div class="author">
			Posted by <strong>Katy Martinez</strong>
		</div>
		<nav class="share-to">
			<h6>Share to:</h6>
			<ul>
				<li><a href="" class="linkedin">LinkedIn</a></li>
				<li><a href="" class="twitter">Twitter</a></li>
				<li><a href="" class="facebook">Facebook</a></li>
				<li><a href="" class="googleplus">Google+</a></li>
			</ul>
		</nav>
		
	</footer>

</article>