---
title: RDG Blog Post
---

<section class="contact-header">
	<div class="main">
		<img src="images/making-brands-come-alive.svg" alt="">
		<h5>From research and conceptual development, to a wide array of creative solutions, we’re ready to turn your brand into real-world experiences.</h5>
	</div>
</section>

<section class="contact-form">
	<div class="main">
		<form action="">
			<span class="required">*Required</span>
			<div class="split">
				<input type="text" placeholder="*Name">
				<input type="text" placeholder="Company">
			</div>
			<div class="split">
				<input type="email" placeholder="*Email Address">
				<input type="tel" placeholder="Phone Number">
			</div>
			<textarea name="" id="" placeholder="Message"></textarea>
			<input type="submit" value="Send">
		</form>
	</div>
</section>

<section class="contact-address">
	<h5>Longworth Hall<br>700 W Pete Rose Way, 3rd Floor<br>Cincinnati, Ohio 45203 <div class="triangle"></div></h5>
	<div class="flexible-container">
		<iframe style="pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.48021992935!2d-84.52658444904871!3d39.095535779440155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841b6b306c36895%3A0xbe4fc9f99334f920!2s700+W+Pete+Rose+Way%2C+Cincinnati%2C+OH+45203!5e0!3m2!1sen!2sus!4v1462737332507" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</section>

<section class="contact-phonenumber">
	<div class="main">
		<h1><a href="tel:+15132417157">+1 513 241 7157</a></h1>
		<h3>Call us today!</h3>
	</div>
</section>