---
title: Welcome to Middleman
---

<section class="hero">
	<h4>
		<img src="images/making-brands-come-alive.svg" alt="">
		We are visionaries rooted in observation. We are authentic in our pursuit to use creativity as a catalyst for solving visual problems. We are RDG.
	</h4>
</section>

<section class="what-we-do">
	<h2>What We Do</h2>
	<ul>
		<li class="case-study" >
			<a href="#" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="content">
					<div class="title design">
						<h5>
							<span class="client">RDG</span>
							<span class="category">Building Brands</span>
						</h5>
					</div>
					<div class="description">
						<p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
				</div>
			</a>
		</li>
		<li class="client">
			<a href="#">
				<img src="images/logo-procter-gamble.svg" alt="Procter & Gamble">
			</a>
		</li>
		<li class="case-study">
			<a href="#" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="content">
					<div class="title strategy">
						<h5>
							<span class="client">John Morrell</span>
							<span class="category">Strategy</span>
						</h5>
					</div>
					<div class="description">
						<p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
				</div>
			</a>
		</li>
		<li class="client">
			<a href="#">
				<img src="images/logo-procter-gamble.svg" alt="Procter & Gamble">
			</a>
		</li>
		<li class="portfolio">
			<a href="#" style="background-image: url('images/fpo-portfolio.jpg');"></a>
		</li>
		<li class="case-study">
			<a href="#" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="content">
					<div class="title digital">
						<h5>
							<span class="client">FFI</span>
							<span class="category">Digital</span>
						</h5>
					</div>
					<div class="description">
						<p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
				</div>
			</a>
		</li>
	</ul>
	
</section>