---
title: Welcome to Middleman
---

<section class="hero">
	<h4>
		<img src="images/making-brands-come-alive.svg" alt="">
		We are visionaries rooted in observation. We are authentic in our pursuit to use creativity as a catalyst for solving visual problems. We are RDG.
	</h4>
</section>

<section class="what-we-do">
	<h2>What We Do</h2>
	<ul>
		<li class="case-study" >
			<a href="#" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="content">
					<div class="title design">
						<h5>
							<span class="client">RDG</span>
							<span class="category">Building Brands</span>
						</h5>
					</div>
					<div class="description">
						<p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
				</div>
			</a>
		</li>
		<li class="client">
			<a href="#">
				<img src="images/logo-procter-gamble.svg" alt="Procter & Gamble">
			</a>
		</li>
		<li class="case-study">
			<a href="#" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="content">
					<div class="title strategy">
						<h5>
							<span class="client">John Morrell</span>
							<span class="category">Strategy</span>
						</h5>
					</div>
					<div class="description">
						<p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
				</div>
			</a>
		</li>
		<li class="client">
			<a href="#">
				<img src="images/logo-procter-gamble.svg" alt="Procter & Gamble">
			</a>
		</li>
		<li class="portfolio">
			<a href="#" style="background-image: url('images/fpo-portfolio.jpg');"></a>
		</li>
		<li class="case-study">
			<a href="#" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="content">
					<div class="title digital">
						<h5>
							<span class="client">FFI</span>
							<span class="category">Digital</span>
						</h5>
					</div>
					<div class="description">
						<p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
				</div>
			</a>
		</li>
	</ul>
</section>

<section class="this-is-how-we-do-it">
<!-- It's Friday night, and I feel alright, The party is here on the West side https://www.youtube.com/watch?v=0hiUuL5uTKc -->
	<h2>How We Do It</h2>
		<div class="flexslider">
			<ul class="slides">
				<li class="discover">
					<div class="main">
						<p>1 Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
					</div>
				</li>
				<li class="discover">
					<div class="main">
						<p>2 Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
					</div>
				</li>
			</ul>
		</div>
</section>

<section class="what-we-focus-on">
	<h2>What We Focus On</h2>
	<div class="main">
		<ul>
			<li class="brand">
				<h4>Brand</h4>
				<ul>
					<li>Fringilla Porta</li>
					<li>Justo Pellentesque Vehicula</li>
					<li>Quam Venenatis</li>
					<li>Malesuada Inceptos Parturient</li>
					<li>Malesuada Dolor</li>
				</ul>
			</li>
			<li class="visual">
				<h4>Visual</h4>
				<ul>
					<li>Fringilla Porta</li>
					<li>Justo Pellentesque Vehicula</li>
					<li>Quam Venenatis</li>
					<li>Malesuada Inceptos Parturient</li>
					<li>Malesuada Dolor</li>
				</ul>
			</li>
			<li class="environment">
				<h4>Environment</h4>
				<ul>
					<li>Fringilla Porta</li>
					<li>Justo Pellentesque Vehicula</li>
					<li>Quam Venenatis</li>
					<li>Malesuada Inceptos Parturient</li>
					<li>Malesuada Dolor</li>
				</ul>
			</li>
			<li class="digital">
				<h4>Digital</h4>
				<ul>
					<li>Fringilla Porta</li>
					<li>Justo Pellentesque Vehicula</li>
					<li>Quam Venenatis</li>
					<li>Malesuada Inceptos Parturient</li>
					<li>Malesuada Dolor</li>
				</ul>
			</li>
		</ul>
	</div>
</section>

<blockquote>
	<div class="main">
		<h2>Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</h2>
		<p class="person">John Doe</p>
	</div>
</blockquote>

<section class="stream">
	<h2>The Stream</h2>
	<div class="main">
		<ul>
			<li class="facebook">
				<p>Don't forget to get your tickets to the Design in the 21st Century Lecture! All the details are on our latest Field Notes. This will be a great lecture that you don't want to miss! http://bit.ly/1Qqu3uG</p>
				<a href="#">Facebook</a>
			</li>
			<li class="instagram" style="background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)), url('images/fpo-instagram.jpg');">
				<a href="#">Instagram</a>
			</li>
			<li class="twitter">
				<p>Get your tickets now for two great #brand #strategy workshops from @josecaballer on March 18! https://t.co/QikX5lmiAe #SkoolinCincy</p>
				<a href="#">Twitter</a>
			</li>
			<li class="fieldnotes" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="overlay"></div>
				<h6>Field Notes</h6>
				<h6 class="title">RDG Hosts Happy Hour: Design in the 21st Century</h6>
				<p>This month, we’re excited to host along with AIGA Cincinnati, a happy hour to kick off the Design in the 21st Century Lecture.</p>
				<a href="#">Read Article</a>
			</li>
			<li class="fieldnotes" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="overlay"></div>
				<h6>Field Notes</h6>
				<h6 class="title">RDG Hosts Happy Hour: Design in the 21st Century</h6>
				<p>This month, we’re excited to host along with AIGA Cincinnati, a happy hour to kick off the Design in the 21st Century Lecture.</p>
				<a href="#">Read Article</a>
			</li>
			<li class="fieldnotes" style="background-image: url('images/fpo-casestudy-rdg.jpg');">
				<div class="overlay"></div>
				<h6>Field Notes</h6>
				<h6 class="title">RDG Hosts Happy Hour: Design in the 21st Century</h6>
				<p>This month, we’re excited to host along with AIGA Cincinnati, a happy hour to kick off the Design in the 21st Century Lecture.</p>
				<a href="#">Read Article</a>
			</li>
		</ul>
	</div>
</section>


